@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    box-sizing: border-box;
    --max-width-desktop: 1280px;
    --accent-primary: #FF000077; 
}

body {
    background-color: rgba(44, 40, 40, 0.891);
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 1.25rem;
}

.txt-accent-prim{
    color: red;
}
a{
    color: white;
}

a:visited{
    color: var(--accent-primary);
}

.bg-black{
    background-color:black ;
}


.margins{
    max-width: var(--max-width-desktop);
    margin: 1em 2em 0;
}

.padding{
    padding: .25em .5em;
}

#site-header{
    display: flex;
    text-align: center;
    border-bottom: 2px solid var(--accent-primary);
    flex-direction: column;
}

#site-body{
    /* border: 2px solid magenta; */
}

.grid-wrapper{
    display: grid;
    gap: 1.5em;
    grid-auto-flow: row;
}


.site-nav{
    list-style: none;
}

.poppies{
    background-image: url(http://static1.squarespace.com/static/5e342c35f58edf15f5cb59c1/5e45f15bd7dc715e8addc603/5e4c18aa0d5160641fe41c32/1582045381865/hoverkamp-beach-red-poppies.jpg?format=1500w);
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 15px;
    scrollbar-width: none;
    background-attachment:fixed ;
}
.plax-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.background {
    transform: translateZ(-15px) scale(4.5);
    background-size: 100%;
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

/* tablet sizing */
@media only screen and (min-width: 480px) {
    .site-nav{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .padding{
        padding:.5em 1em;
    }

    .grid-wrapper {
        /* border: 2px solid magenta; */
        grid-template-columns: repeat(4, 1fr);
        max-width: var(--max-width-desktop);
    }

    #belligerents-lists{
        /* border: 2px solid magenta; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .col-2{
        grid-column: span 2;     
    }
}

/* desktop sizing */
@media only screen and (min-width:1081px){
    h1{
        font-size: 3.25rem;
    }
    
    .margins{
        margin: auto;
        justify-content: center;
        align-items: center;
    }



    .img-width-full{
        width: 100%;
    }
    
    .img-height-half{
        height: 100%;
    }


}