@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    box-sizing: border-box;
    --max-width-desktop: 1280px;
    --accent-primary: #FF000077; 
}

body {
    background-color: rgba(44, 40, 40, 0.891);
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 1.25rem;
}

.txt-accent-prim{
    color: red;
}
a{
    color: white;
}

a:visited{
    color: var(--accent-primary);
}

.bg-black{
    background-color:black ;
}

.bg-transparent{
    background-color: #5556;
}

.shadow{
    text-shadow: 0 0 5px black;
}

.margins{
    max-width: var(--max-width-desktop);
    margin: 1em 2em 0;
}

.padding{
    padding: .25em .5em;
}

#site-header{
    display: flex;
    text-align: center;
    border-bottom: 2px solid var(--accent-primary);
    flex-direction: column;
}

.section-title{
    text-align: left;
    font-size: 3.25rem;
}

.grid-wrapper{
    display: grid;
    gap: 1.5em;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);

}

[class*="col-"] {

}

img{
    width:100%; max-width: min-content;
}
.site-nav{
    list-style: none;
}

.poppies{
    background-image: url(http://static1.squarespace.com/static/5e342c35f58edf15f5cb59c1/5e45f15bd7dc715e8addc603/5e4c18aa0d5160641fe41c32/1582045381865/hoverkamp-beach-red-poppies.jpg?format=1500w);
    background-repeat: no-repeat;
    background-size: cover;
}

.bots-image-wrapper{
    background-image: url(https://www.gethistory.co.uk/sites/default/files/styles/large/public/2017-03/Over-the-top.jpg?itok=k6oTSkT8);
    background-size:cover;
}




#BOTS{
    color: #fff;

}

#BOMA-title-container{
    background-image: url(https://sgtyork.org/sites/default/files/main-legacy-meuseoff.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.MA-subtitle{
    text-align: center;
}

/* tablet sizing */
@media only screen and (min-width: 480px) {
    .site-nav{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .padding{
        padding:.5em 1em;
    }

    .grid-wrapper {
        /* border: 2px solid magenta; */
        grid-template-columns: repeat(2, 1fr);
        max-width: var(--max-width-desktop);
    }
    .col-2{
        grid-column: span 2;     
    }

    #belligerents-lists{
        /* border: 2px solid magenta; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    #nivelle-blurb{
        order: -1;
        grid-column: span 2;
    }

  
    .bots-image-wrapper{
        background-image: url(https://www.gethistory.co.uk/sites/default/files/styles/large/public/2017-03/Over-the-top.jpg?itok=k6oTSkT8);
        background-size: cover;
    }
}

/* desktop sizing */
@media only screen and (min-width:1081px){
    h1{
        font-size: 3.25rem;
    }
    
    .margins{
        margin: auto;
        justify-content: center;
        align-items: center;
    }


    .img-width-full{
        width: 100%;
    }
    
    .img-height-half{
        height: 100%;
    }

    .grid-wrapper{
        grid-template-columns: repeat(4, 1fr);

    }

    .col-2{
        grid-column: span 2;     
        
    }

    #nivelle-blurb{
        order: unset;
        grid-column: span 2;

    }


}